<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/joyghosh/bloomfilter.js">bloomfilter.js</a></strong>
			- Bloom filter is a space efficient probablistic data-structure. This implementation relies on following non-cryptographic hash functions.
        Fowler–Noll–Vo hash function.
        Jenkins hash function.
        It is built in Javascript and is Nodejs compatible.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/joyghosh/matchstick">matchstick</a></strong>
			-  Javascript library for common pattern searching algorithms. Following is the list of supported methods.
         Naive or simple pattern search,
         KMP (Knuth Morris Pratt) method,
         Rabin-Karp algorithm.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/joyghosh/sift">sift</a></strong>
			- Naive Bayes classifier library.
        Sift is a library for categorizing or filtering any text content. Some use cases of sift. It allows you to detect spam or no-spam emails.
        It lets you categorize documents under myriad of custom categories. You just need to train it with seed texts of your category choices and it is smart enough to learn how distinguish given any text to it in future. It's internal workings depend on a supervised machine learning technique for training and classification.
        It uses Naive Bayes classifier for this purpose.
		  </h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://home.tiatros.com/">messenger</a></strong>
			- A highly available and scalable instant messaging service for cognitive behavioral therapy (CBT) participants. It is capable of handling high volume traffic. Backed by Spring framework, NoSQL datastore, message brokers and AWS cloud platform.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://app.tiatros.com/">scalaport</a></strong>
			- A high volume, scalable and fault-tolerant notifications engine handling emails, text messages and in-app alerts. Backed up by technologies such as Scalatra, Akka, Quartz, AWS SES, Twilio and Pusher.
		</h5>
    <h5>
      <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://app.tiatros.com/">calendar-prototype</a></strong>
      - This is a proof of concept for CALDAV compliant server. It was built with an intention to overcome the bottlenecks posed by older versions of Apple's CALDAV servers. It allows registered users to schedule and plan
        events and appointments in a shared calendar context.
    </h5>
    <h5>
      <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://app.tiatros.com/">signal</a></strong>
      - A spin-off project initially proposed as signal server for video-chat to support exchange of SDP and ICE packets. It is more than just a signal server now and is capable of custom event subscriptions and notifications. Real-time platform similar to commercial services such as <a href="https://firebase.google.com/">Firebase</a> and <a href="https://pusher.com/">Pusher</a>.
        Useful as an in-app notification module.
    </h5>
		<!-- <h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
			- Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
			usu ex sapientem gubergren. Tamquam admodum ei usu.
		</h5> -->
    </div>
  </div>
</div>
</section>
